@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --phylox-pale-text: rgba(170, 190, 240, 1);
  --primary-color: rgba(0, 111, 51, 1);
  --u-recover-black: rgba(46, 46, 46, 1);
  --u-recover-green: rgba(0, 111, 51, 1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}